body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

.container {
  padding-top: 3em;
}

h1,h2,h3 {
  line-height:1.2;
}

@media (prefers-color-scheme: dark) {
  body {
      color: #CCCCCC;
      background-color: #121212;
  }
  a {
    color: #BB86FC;
  }
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid darkgrey;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: darkgrey;
}

.searchTerm:focus{
  color: darkgrey;
}

.searchButton {
  width: 70px;
  height: 36px;
  border: 1px solid darkgrey;
  background: darkgrey;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.metrics {
  text-align: right;
  font-style: normal;
}
