body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background-color: #EEEEEE;
  padding: 0 10px;
}

.container {
  padding-top: 3em;
}

h1,h2,h3 {
  line-height:1.2;
}

@media (prefers-color-scheme: dark) {
  body {
      color: #CCCCCC;
      background-color: #121212;
  }
  a {
    color: #BB86FC;
  }
}
