@font-face {
  font-family:'Nunito Var';
  src:url('/fonts/Nunito.var.v2.woff2') format('woff2-variations');
  font-display:swap;
  font-weight: 200 1000;
}

*, *::before, *::after {
  box-sizing:border-box;
}
* {
  margin:0;
}

input, button, textarea, select {
  font:inherit;
}

img, picture, video, canvas, svg {
  display:block;
  max-width:100%;
}

html {
  font-family:'Nunito Var', sans-serif;
  height:100%;
  font-size:16px;
  -webkit-tap-highlight-color:transparent;
}
@media screen and (min-width:640px) {
  html {
    font-size:18px;
  }
}

body {
  line-height:1.5;
  color:#222;
  display:grid;
  height:100%;
  grid-template-rows:1fr auto;
  background:#fff no-repeat 0% 0% / 100% .7rem linear-gradient(120deg, #ffffe3 20%, #ddfffc 20%, #ddfffc 40%, #e2eeff 40%, #e2eeff 60%, #f2e2ff 60%, #f2e2ff 80%, #ffdef2 80%, #ffdef2 100%);
  tab-size:4;
}

h1, h2, h3, h4, h5, h6 {
  line-height:1.25;
  font-weight:600;
  overflow-wrap:break-word;
  letter-spacing:-.025em;
  margin:1.75rem 0 .75rem;
}
h1 {
  font-size:2.986rem
}
h2 {
  font-size:2.488rem
}

p {
  margin:.75rem 0;
  font-weight:400;
  overflow-wrap:break-word;
}

a {
  color:inherit;
  text-decoration:underline;
  text-decoration-color:#aaa;
  text-underline-offset:.15em;
}
a:hover {
  text-decoration-thickness:2px;
}

ol, ul {
  margin:0 0 0 1.5rem;
  padding-left:0;
}
li {
  margin:0 0 .25rem
}

::selection {
  background:#ffdac0;
}

footer {
  font-size:.833rem;
  color:#777;
  padding:0 1rem;
  width:100%;
  max-width:min(calc(750px + 2rem), calc(100vw - 1rem));
  margin:0 auto;
}
footer p {
  text-align:center;
  margin:0 0 .75rem;
}

#footer-image {
  margin:0 auto;
  cursor:pointer;
}

#article-logo {
  line-height:1.25;
  margin:.5rem 0 0;
  font-size:1.44rem;
  font-weight:700;
  position:relative;
  }
#article-logo a {
  text-decoration:none;
  }
#article-title {
  margin:1.5rem 0 0;
  position:relative;
  }
#article-meta {
  font-size:.833rem;
  color:#777;
}
#article-container {
  margin:0 auto;
  padding:1rem;
  max-width:min(calc(750px + 2rem), calc(100vw - 1rem));
  width:100%;
}
.anchor {
  position: absolute;
  text-decoration: none;
  width:1.75ex;
  margin-left:-1.4ex;
  visibility:hidden;
  font-size:.8em;
  padding-top:.2em;
  color:#aaa;
}
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor,
summary:hover .anchor {
  visibility:visible;
}
.anchor::before {
  content:"#";
}

hr {
  border:none;
  border-top:4px solid #f1f3f5;
}

code {
  background:#f5f5f5;
  padding:.125rem .25rem;
  font-size:.833rem
}
pre > code {
  padding:0;
  background:#fff;
}
pre {
  word-wrap:break-word;
  overflow-x:auto;
  padding:.5rem 1rem;
  margin:1rem -1rem;
  border-radius:.4rem;
  border:1px solid #d2d2d2;
}

details {
  font-size:.833rem;
}
details summary {
  margin:.75rem 0 .5rem 0;
  font-weight:600;
  cursor:pointer;
  font-size:1.2rem;
  line-height:1.25;
  letter-spacing:-.025em;
  list-style:none;
}
details summary > * {
  display:inline;
}
summary::-webkit-details-marker {
  display:none;
}
summary::after {
  content: " »";
}
details[open] summary::after {
  content: " «";
}
