html, body {
  width: 80%;
  height: 80%;
  margin: 40px auto;
  padding: 0 10px;
  max-width:650px;
  color:#444;
}

h1, h2, h3 {
  line-height:1.2;
  text-align: center;
}

#wrapper {
  width: 450px;
  margin: auto;
  border: dotted black;
  padding: 1px;
}
